* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
    color: #101F35;
}
.container {
    width: 30rem;
    margin: 7.5rem auto;
}
#display{
    width: 29.6rem;
    height: 9.5rem;
    margin-bottom: 0.3rem;
    padding: 1.8rem 1.6rem;
    overflow: hidden;
    font-size: 2.8rem;
    text-align: right;
    word-wrap: break-word;
    border: solid 0.1rem #101F35;
    background-color: #F9F9F9;
}
.container {
    width: 30.7rem;
    height: 37.1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid 0.1rem #101F35;
    border-radius: 0.3rem;
    background-color: #0F4C81;

}

.btn {
    width: 7.2rem;
    height: 5rem;
    background-color:#EDEBEA;
    font-family: 'Roboto', sans-serif;
    font-size: 1.7rem;
    border: none;
    cursor: pointer;
}

.btn:active {
    background-color: #5D7182;
}

.dark{
    background-color: #DBDAD9;
}
tr:last-child td:last-child button {
    background-color: #C6C5C4;
}